<!DOCTYPE html>
@{
    ViewBag.TName = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    @* ReSharper disable once NotAllPathsReturnValue *@


    @section Jsprepare{

        <script type="text/javascript">
            var BaseUrl = '/DynamicTable/';
            var editIndex = undefined;


            jQuery(document).ready(function () {
                AutoWH("#body", 40, 42);//自适应宽度
                DataGridSet();
            })
            function DataGridSet() {
                $('#dg').datagrid({
                    url: BaseUrl + 'ColumnGetList',
                    height: 450,
                    columns: [
                        [
                            { field: 'ck', checkbox: true },
                            { field: 'title', title: '中文名称', width: 100 },
                            { field: 'field', title: '英文名称', width: 100 },
                            { field: 'width', title: '宽度', width: 100 },
                            { field: 'colspan', title: '列合并数', width: 100 },
                            { field: 'rowspan', title: '行合并数', width: 100 },
                            { field: 'IsEnable', title: '是否启用', width: 100 },
                            { field: 'SortNo', title: '排序号', width: 100 }

                            //{ field: 'ValueName', title: '值', width: 100 },
                            //      {
                            //          field: 'Icon', title: '图标', width: 120, align: 'right',
                            //          formatter: function (value) {
                            //              if (value) {
                            //                  var s = '<span class=" icon  ' + value + ' " style=" display:block">' + '&nbsp;</span>';
                            //                  return s;
                            //              } else {
                            //                  return '';
                            //              }
                            //          }
                            //      },
                            // { field: 'Remarks', title: '备注', width: 300 }
                        ]
                    ],
                    queryParams: { Condition: '@ViewBag.RuteUrl' },
                    iconCls: 'icon-save',
                    title: '按钮编辑',
                    nowrap: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pagination: true,
                    fit: true,
                    fitColumns: true,
                    rownumbers: true,
                    toolbar: [
                        {
                            id: 'btnadd',
                            text: '添加',
                            iconCls: 'icon-add',
                            handler: function () {
                                AddInfo();

                            }
                        }, '-', {
                            id: 'btncut',
                            text: '修改',
                            iconCls: 'icon-cut',
                            handler: function () {
                                //实现修改的方法
                                EditInfo();
                            }
                        }
                    ]
                });
                loadColum();
                bindconbox();
            }
            function bindconbox() {

                $('#ParentId').combobox({
                    url: BaseUrl + 'GetInfoParent?ID=' + '@ViewBag.RuteUrl',
                    valueField: 'id',
                    textField: 'text'
                });

            }

            function loadColum() {
                var Column = $.ajax({
                    //获取列数据
                    url: BaseUrl + 'GetBtnColumn',
                    cache: false,
                    data: { Condition: '@ViewBag.RuteUrl' },
                    async: false
                }).responseText;
                var Columndata = eval(Column);

                $('#dg2').datagrid({
                    //url: BaseUrl + 'GetAllJsonResultList',
                    columns: Columndata,
                 @*   queryParams: { Condition: '@ViewBag.RuteUrl' },*@
                    height: 450,
                    iconCls: 'icon-save',
                    title: '按钮编辑',
                    nowrap: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pagination: true,
                    fit: true,
                    fitColumns: true,
                    rownumbers: true,
                    toolbar: [
                        {
                            id: 'btnadd',
                            text: '添加',
                            iconCls: 'icon-add',
                            handler: function () {
                                //实现弹出注册信息的页面
                                if (editIndex != undefined) {

                                    $("#dg2").datagrid('endEdit', editIndex);

                                }

                                if (editIndex == undefined) {

                                    $("#dg2").datagrid('insertRow', {

                                        index: 0,

                                        row: {}

                                    });



                                    $("#dg2").datagrid('beginEdit', 0);

                                    editIndex = 0;

                                }


                            }
                        }, '-', {
                            id: 'btncut',
                            text: '修改',
                            iconCls: 'icon-cut',
                            handler: function () {
                                //实现修改的方法
                                ShowUpdateInfo();
                            }

                        }, '-', {
                            id: 'btnAccept',
                            text: '保存',
                            iconCls: 'icon-save',
                            handler: function () {
                                //实现修改的方法
                                //if (endEditing()) {
                                $("#dg2").datagrid('endEdit', editIndex);
                                var rows = $("#dg2").datagrid('getChanges');



                                var rowstr = JSON.stringify(rows);

                                $.post('/Home/Create', rowstr, function (data) {



                                });

                            }

                        }
                    ], onAfterEdit: function (rowIndex, rowData, changes) {//在添加完毕endEdit，保存时触发
                        console.info(rowData);//在火狐浏览器的控制台下可看到传递到后台的数据，这里我们就可以利用这些数据异步到后台添加，添加完成后，刷新datagrid
                        editIndex = undefined;//重置
                    }, onDblClickCell: function (rowIndex, field, value) {//双击该行修改内容
                        if (editIndex != undefined) {
                            $("#dg").datagrid('endEdit', editIndex);//结束编辑，传入之前编辑的行
                        }
                        if (editIndex == undefined) {
                            $("#dg").datagrid('beginEdit', rowIndex);//开启编辑并传入要编辑的行
                            editIndex = rowIndex;
                        }
                    }

                });
            }
            function endEditing() {
                if (editIndex == undefined) { return true }
                if ($('#dg2').datagrid('validateRow', editIndex)) {
                    $('#dg2').datagrid('endEdit', editIndex);
                    editIndex = undefined;
                    return true;
                } else {
                    return false;
                }
            }

            //easyUI 弹出添加的对话框
            function AddInfo() {
                //弹出层
                // $("#DivEditor").dialog('open').dialog('setTitle', '添加信息');
                $('#DivEditor').dialog({
                    title: '添加材料',
                    //width: 400,
                    //height: 200,
                    closed: false,
                    cache: false,
                    // href: 'get_content.php',
                    modal: true, top: 50,
                    onClose: function () {
                        //解决弹出窗口关闭后，验证消息还显示在最上面

                    }
                });
                $(".validatebox-tip").remove();//清除验证样式
               DataBaseFunction.ClearForm("ff");
               $("#CategoryTableID").val('@ViewBag.RuteUrl');
                $('input:radio[name=IsEnable]')[0].checked = true;
                $('input:radio[name=ISLogpeople]')[1].checked = true;
                $('input:radio[name=ISLoginsector]')[1].checked = true;
                $('input:radio[name=IsNumber]')[1].checked = true;
                $('input:radio[name=MergeHeader]')[1].checked = true;
                $('#field').attr('readonly', false);
            }


            //绑定修改显示详细信息的方法
            function EditInfo() {

                var rows = $("#dg").datagrid('getSelected');
             
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                $("#DivEditor").dialog('open').dialog('setTitle', '修改-' + rows.title).window('resize', { top: 50 });
                $(".validatebox-tip").remove();//清除验证样式
                var ID = rows.ID;  //获取到了用选择的ID
                $.ajax({
                    url: BaseUrl + 'GetColumnInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {
                        //var result = eval('(' + data + ')');
                        DataBaseFunction.BindForm("ff", data);
                        $('#cc').combobox('setValue', data['editor']);
                        $('#align').combobox('setValue', data['align']);
                        $('#ParentId').combobox('setValue', data['ParentId']);
                        $('#field').attr('readonly', true);
                    }
                });

            }

            //实现的编辑，包括增查改
            function SaveInfo() {

                //判断的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }
                //获取需要传递的参数传递给前台
                var data = DataBaseFunction.GetFormData("ff")
                //发送异步请求到后台保存数据
                $.post(BaseUrl + 'ColumnEditInfo', data, function (data) {
                    alerts(data.Msg, 2);
                    if (data.Code > 0) {
                        $('#DivEditor').dialog('close');
                        $(".validatebox-tip").remove();
                        $("#dg").datagrid("reload");
                        loadColum();
                        bindconbox();

                    }
                });

            }
            //删除
            function Del() {
                DataBaseFunction.deleteInfo("dg", "Id", "TName");
            }
            //function myfunction2() {
                
             
            //    alert("t");
            //}
            //function myfunction() {
            //    $("#title").val("ck");
            //    alert("a");

            //}
        </script>
    }

</head>
<body style="overflow-y: hidden">
    <div id="body">
        <table id="dg"></table>
        <table id="dg2"></table>
    </div>

    <!------------------------弹出信息的弹出层---------------------------------->
    <div id="DivEditor" class="easyui-dialog" style="width: 700px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div id="Div_form" class="easyui-panel" style="padding: 10px 10px; overflow-x: hidden;" data-options=" height:440,width:680,border:false">
            <form id="ff" method="post" enctype="multipart/form-data">

                <table class="stripes" style="table-layout: fixed; width: 100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <input type="hidden" id="ID" name="ID" />
                        <input type="hidden" id="CategoryTableID" name="CategoryTableID" />
                        <td style="width: 100px;">
                            <label>表格名称：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" id="title" name="title" data-options="required:true,validType:'length[1,32]'" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>表格英文名称：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" id="field" name="field" data-options="required:true,validType:'length[1,32]'" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>行合并数：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" onkeyup="clearNoNumberContainDot(this);" name="rowspan" data-options="required:true" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>列合并数：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" onkeyup="clearNoNumberContainDot(this);" name="colspan" data-options="required:true" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>宽度：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" onkeyup="clearNoNumberContainDot(this);" name="width" data-options="required:true" />
                        </td>

                    </tr>
                    
                    <tr>
                        <td>
                            <label>编辑类型：</label></td>
                        <td>
                            <select id="cc" class="easyui-combobox" data-options="required:true" name="editor" style="width: 200px;" vlaue="0">
                                <option value="">不编辑</option>
                                <option value="type: 'validatebox', options: { required: true}">可输入的文本框</option>

                            </select>
                        </td>

                    </tr>


                    <tr>
                        <td>
                            <label>对齐方向：</label></td>
                        <td>

                            <select id="align" class="easyui-combobox" data-options="required:true" name="align" style="width: 200px;" vlaue="0">
                                <option value="left">靠左</option>
                                <option value="right">靠右</option> 
                                <option value="center">居中</option>

                            </select>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>父列（合并列头使用）：</label></td>
                        <td>

                            <input class="easyui-combobox"
                                   name="ParentId" id="ParentId">
                        </td>

                    </tr>
                      <tr>
                        <td>
                            <label>数据默认值：</label></td>
                        <td>
                             <input name="ISLogpeople" type="radio" value="true" />取登陆人姓名
                            <input name="ISLogpeople" type="radio" value="false"/>不取登陆人姓名
                             <input name="ISLoginsector" type="radio" value="true" />取登陆部门
                                <input name="ISLoginsector" type="radio" value="false" />不取取登陆部门
                       
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>排序号：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" onkeyup="clearNoNumberContainDot(this);" name="SortNo" data-options="required:true" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label>是否启用：</label></td>
                        <td>

                            <input name="IsEnable" type="radio" value="true"  checked="checked"/>是
                                <input name="IsEnable" type="radio" value="false" />否
                              @*  <input type="checkbox" name="IsEnable" id="IsEnable" value="True"/>是否启用*@



                        </td>

                    </tr> 
                    <tr>
                        <td>
                            <label>编号（主：编号计算列只能有一个）：</label></td>
                        <td>

                            <input name="IsNumber" type="radio" value="true" />是
                                <input name="IsNumber" type="radio" value="false" checked="checked"/>否
                              @*  <input type="checkbox" name="IsEnable" id="IsEnable" value="True"/>是否启用*@



                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>作为合并列的头部：</label></td>
                        <td>


                            <input name="MergeHeader" type="radio" value="true" />是
                                <input name="MergeHeader" type="radio" value="false" checked="checked"/>否

                        </td>

                    </tr> 
                  @*  <tr>
                        <td>
                            <label>选择列（表格选择选择框，只需要输入行合并数）：</label></td>
                        <td>


                            <input name="ck" type="radio" value="true"  onchange="myfunction()"/>是
                                <input name="ck" type="radio" value="false" checked="checked"  onchange="myfunction2()"/>否

                        </td>

                    </tr>*@
                </table>
            </form>


        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivEditor').dialog('close')">关闭</a>
        </div>
    </div>
</body>
</html>
