<!DOCTYPE html>
@{
    ViewBag.TName = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">





    @section Jsprepare
    {

        <script type="text/javascript">
            var BaseUrl = '/DynamicTable/';
            var editIndex = undefined;


            jQuery(document).ready(function() {

                DataGridSet();

                $('#language').combobox({
                    url: "/DynamicTable/GetCategoryTable?ID=" + '@ViewBag.RuteUrl',

                    onSelect: function(record) {
                        var peo = $('#language').combobox('getValue');
                        bingbdinglist(peo);
                        bingalreadybdinglist(peo);

                    }
                });
                var peo2 = $('#language').combobox('getValue');
                bingbdinglist(peo2);
                bingalreadybdinglist(peo2);
            });

            function DataGridSet() {
                $('#dg').datagrid({
                    url: BaseUrl + 'ColumnGetList',
                    height: 450,
                    columns: [
                        [
                            { field: 'ck', checkbox: true },
                            { field: 'title', title: '中文名称', width: 100 },
                            { field: 'field', title: '英文名称', width: 100 },
                            { field: 'width', title: '宽度', width: 100 },
                            { field: 'colspan', title: '列合并数', width: 100 },
                            { field: 'rowspan', title: '行合并数', width: 100 },
                            { field: 'IsEnable', title: '是否启用', width: 100 },
                            { field: 'SortNo', title: '排序号', width: 100 }

                            //{ field: 'ValueName', title: '值', width: 100 },
                            //      {
                            //          field: 'Icon', title: '图标', width: 120, align: 'right',
                            //          formatter: function (value) {
                            //              if (value) {
                            //                  var s = '<span class=" icon  ' + value + ' " style=" display:block">' + '&nbsp;</span>';
                            //                  return s;
                            //              } else {
                            //                  return '';
                            //              }
                            //          }
                            //      },
                            // { field: 'Remarks', title: '备注', width: 300 }
                        ]
                    ],
                    queryParams: { Condition: '@ViewBag.RuteUrl' },
                    iconCls: 'icon-save',
                    title: '按钮编辑',
                    nowrap: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pagination: true,
                    fit: true,
                    fitColumns: true,
                    rownumbers: true,
                    toolbar: [
                        {
                            id: 'btnadd',
                            text: '添加',
                            iconCls: 'icon-add',
                            handler: function() {
                                AddInfo();

                            }
                        }, '-', {
                            id: 'btncut',
                            text: '修改',
                            iconCls: 'icon-cut',
                            handler: function() {
                                //实现修改的方法
                                EditInfo();
                            }
                        }, '-', {
                            id: 'btncut',
                            text: '添加关联表字段',
                            iconCls: 'icon-cut',
                            handler: function () {
                                var rows = $("#dg").datagrid("getSelections");
                                //首先判断按钮是否已经选择了需要删除的数据,然后循环将按钮选择的数据传递到后台
                                if (rows.length >= 1) {
                                    //实现修改的方法
                                    $('#DivSetRole').window({
                                        title: '数据关联',
                                        modal: true,
                                        top: 50
                                    });
                                    $('#DivSetRole').window('open');
                                }
                                else {
                                    alert("请选择你要关联的数据");
                                }

                               
                            }
                        }
                    ]
                });
                loadColum();
                bindconbox();
            }

            function Processeddata() {


                $('#tbIn').datagrid({
                    url: BaseUrl + 'GetBdlList',
                    columns: [
                        [
                            { field: 'title', title: '中文名称', width: 60, align: 'right' },
                            { field: 'field', title: '英文名称', width: 60, align: 'right' }
                        ]
                    ],
                    onDblClickRow: function(index, row) {
                        //                        Delbtn();
                        //  DelManuBtn(row.Id, id)//删菜单按钮
                    },
                    title: "已存在的按钮",
                    iconCls: 'icon-ok',
                    queryParams: { Condition: id, T: Math.floor(Math.random() * 1000000) },
                    height: 340,
                    nowrap: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    width: 'auto',
                    rownumbers: true
                });

            }

            function bingbdinglist(id) {

                $('#tbOut').datagrid({
                    url: BaseUrl + 'GetBdlList',
                    columns: [
                        [
                            { field: 'title', title: '中文名称', width: 60, align: 'right' },
                            { field: 'field', title: '英文名称', width: 60, align: 'right' }
                        ]
                    ],

                    title: "待关联字段",
                    iconCls: 'icon-ok',
                    queryParams: { Condition: '@ViewBag.RuteUrl', ChildCategoryTableID: id, T: Math.floor(Math.random() * 1000000) },
                    height: 340,
                    nowrap: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    width: 'auto',
                    rownumbers: true
                });
            }

            function bingalreadybdinglist(id) {

                $('#tbIn').datagrid({
                    url: BaseUrl + 'GetalreadyBdlList',
                    columns: [
                        [
                            { field: 'yuanlai', title: '中文名称', width: 60, align: 'right' },
                            { field: 'guanlian', title: '英文名称', width: 60, align: 'right' }
                        ]
                    ],

                    title: "已关联字段",
                    iconCls: 'icon-ok',
                    queryParams: { Condition: '@ViewBag.RuteUrl', ChildCategoryTableID: id, T: Math.floor(Math.random() * 1000000) },
                    height: 340,
                    nowrap: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    width: 'auto',
                    rownumbers: true
                });
            }

//处理关联功能添加
            function addbtn() {
                var tbOutrow = $('#tbOut').datagrid('getSelected');
                if (tbOutrow != null) {
                     tbOutrow = JSON.stringify($('#tbOut').datagrid('getSelected'));

                    //if (row != null) {
                    //    $("#tbIn").datagrid("appendRow", row);
                    //}
                    //var b = $('#tbOut').datagrid('getRowIndex', row);
                    //$('#tbOut').datagrid('deleteRow', b);
                    //$('#tbOut').datagrid('selectRow', b - 1);
                    var dgrows = JSON.stringify($("#dg").datagrid('getSelected'));
                    var categoryTableID = '@ViewBag.RuteUrl' ;
                var childCategoryTableID = $('#language').combobox('getValue');

                $.ajax({
                    url: BaseUrl + 'EditconnectionRelation',
                    type: 'POST',
                    data: { CategoryTableID: categoryTableID, ChildCategoryTableID: childCategoryTableID, tbOutrow: tbOutrow, dgrows: dgrows },
                    cache: false,
                    error: function() { alert('Error $.ajax'); },
                    success: function(data) {
                        $("#tbOut").datagrid("reload");
                        $("#tbIn").datagrid("reload");
                        //var result = eval('(' + data + ')');
                        //DataBaseFunction.BindForm("ff", data);
                        //$('#cc').combobox('setValue', data['editor']);
                        //$('#align').combobox('setValue', data['align']);
                        //$('#ParentId').combobox('setValue', data['ParentId']);
                        //$('#field').attr('readonly', true);
                    }
                });
} else {
                    alert("请选择你要添加的数据");
                }

            }


            function Delbtn2() {
                var rows = $('#tbIn').datagrid('getSelected');
                if (rows!=null) {


                    var ids = ""; //1,2,3,4,5
                    //for (var i = 0; i < rows.length; i++) {
                    //    //异步将删除的ID发送到后台，后台删除之后，返回前台，前台刷洗表格
                        ids += "'" + rows["ID"] + "',";

                   // }
                    //最后去掉最后的那一个,
                    ids = ids.substring(0, ids.length - 1);
                  
                    //var postData = "";
                    //alert(ids);
                    postData = {
                        IDSet: ids

                    };
               
                    //然后确认发送异步请求的信息到后台删除数据
                    $.messager.confirm("删除信息", "您确认删除<font color='red' size='3'>" + "" + "</font>吗？", function(Delete) {
                        if (Delete) {
                            $.get(BaseUrl + "DelconnectionRelation", postData, function(data) {
                                alerts(data.Msg, 2);
                                if (data.Code > 0) {
                                    $("#tbIn").datagrid("reload");
                                    $("#tbOut").datagrid("reload");
                                }

                            });
                        }
                    });
                } else {
                    alert("请选择你要移除的数据");
                }

    }


             
            function bindconbox() {

                $('#ParentId').combobox({
                    url: BaseUrl + 'GetInfoParent?ID=' + '@ViewBag.RuteUrl',
                    valueField: 'id',
                    textField: 'text'
                });

            }

            function loadColum() {
                var Column = $.ajax({
                    //获取列数据
                    url: BaseUrl + 'GetBtnColumn',
                    cache: false,
                    data: { Condition: '@ViewBag.RuteUrl' },
                    async: false
                }).responseText;
                var Columndata = eval(Column);

                $('#dg2').datagrid({
                    //url: BaseUrl + 'GetAllJsonResultList',
                    columns: Columndata,
                 @*   queryParams: { Condition: '@ViewBag.RuteUrl' },*@
                    height: 450,
                    iconCls: 'icon-save',
                    title: '按钮编辑',
                    nowrap: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pagination: true,
                    fit: true,
                    fitColumns: true,
                    rownumbers: true,
                    toolbar: [
                        {
                            id: 'btnadd',
                            text: '添加',
                            iconCls: 'icon-add',
                            handler: function () {
                                //实现弹出注册信息的页面
                                if (editIndex != undefined) {

                                    $("#dg2").datagrid('endEdit', editIndex);

                                }

                                if (editIndex == undefined) {

                                    $("#dg2").datagrid('insertRow', {

                                        index: 0,

                                        row: {}

                                    });



                                    $("#dg2").datagrid('beginEdit', 0);

                                    editIndex = 0;

                                }


                            }
                        }, '-', {
                            id: 'btncut',
                            text: '修改',
                            iconCls: 'icon-cut',
                            handler: function () {
                                //实现修改的方法
                                ShowUpdateInfo();
                            }

                        }, '-', {
                            id: 'btnAccept',
                            text: '保存',
                            iconCls: 'icon-save',
                            handler: function () {
                                //实现修改的方法
                                //if (endEditing()) {
                                $("#dg2").datagrid('endEdit', editIndex);
                                var rows = $("#dg2").datagrid('getChanges');



                                var rowstr = JSON.stringify(rows);

                                $.post('/Home/Create', rowstr, function (data) {



                                });

                            }

                        }
                    ], onAfterEdit: function (rowIndex, rowData, changes) {//在添加完毕endEdit，保存时触发
                        console.info(rowData);//在火狐浏览器的控制台下可看到传递到后台的数据，这里我们就可以利用这些数据异步到后台添加，添加完成后，刷新datagrid
                        editIndex = undefined;//重置
                    }, onDblClickCell: function (rowIndex, field, value) {//双击该行修改内容
                        if (editIndex != undefined) {
                            $("#dg").datagrid('endEdit', editIndex);//结束编辑，传入之前编辑的行
                        }
                        if (editIndex == undefined) {
                            $("#dg").datagrid('beginEdit', rowIndex);//开启编辑并传入要编辑的行
                            editIndex = rowIndex;
                        }
                    }

                });
            }
            function endEditing() {
                if (editIndex == undefined) { return true }
                if ($('#dg2').datagrid('validateRow', editIndex)) {
                    $('#dg2').datagrid('endEdit', editIndex);
                    editIndex = undefined;
                    return true;
                } else {
                    return false;
                }
            }

            //easyUI 弹出添加的对话框
            function AddInfo() {
                //弹出层
                // $("#DivEditor").dialog('open').dialog('setTitle', '添加信息');
                $('#DivEditor').dialog({
                    title: '添加材料',
                    //width: 400,
                    //height: 200,
                    closed: false,
                    cache: false,
                    // href: 'get_content.php',
                    modal: true, top: 50,
                    onClose: function () {
                        //解决弹出窗口关闭后，验证消息还显示在最上面

                    }
                });
                $(".validatebox-tip").remove();//清除验证样式
                DataBaseFunction.ClearForm("ff");
                $("#CategoryTableID").val('@ViewBag.RuteUrl');
                $('input:radio[name=IsEnable]')[0].checked = true;
                $('input:radio[name=ISLogpeople]')[1].checked = true;
                $('input:radio[name=ISLoginsector]')[1].checked = true;
                $('input:radio[name=IsNumber]')[1].checked = true;
                $('input:radio[name=MergeHeader]')[1].checked = true;
                $('#field').attr('readonly', false);
            }


            //绑定修改显示详细信息的方法
            function EditInfo() {

                var rows = $("#dg").datagrid('getSelected');

                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                $("#DivEditor").dialog('open').dialog('setTitle', '修改-' + rows.title).window('resize', { top: 50 });
                $(".validatebox-tip").remove();//清除验证样式
                var ID = rows.ID;  //获取到了用选择的ID
                $.ajax({
                    url: BaseUrl + 'GetColumnInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {
                        //var result = eval('(' + data + ')');
                        DataBaseFunction.BindForm("ff", data);
                        $('#cc').combobox('setValue', data['editor']);
                        $('#align').combobox('setValue', data['align']);
                        $('#ParentId').combobox('setValue', data['ParentId']);
                        $('#field').attr('readonly', true);
                    }
                });

            }

            //实现的编辑，包括增查改
            function SaveInfo() {

                //判断的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }
                //获取需要传递的参数传递给前台
                var data = DataBaseFunction.GetFormData("ff")
                //发送异步请求到后台保存数据
                $.post(BaseUrl + 'ColumnEditInfo', data, function (data) {
                    alerts(data.Msg, 2);
                    if (data.Code > 0) {
                        $('#DivEditor').dialog('close');
                        $(".validatebox-tip").remove();
                        $("#dg").datagrid("reload");
                        loadColum();
                        bindconbox();

                    }
                });

            }
            //删除
            function Del() {
                DataBaseFunction.deleteInfo("dg", "Id", "TName");

            }

        </script>
    }

</head>
<body style="overflow-y: hidden">

    <table id="dg"></table>
    <table id="dg2"></table>


    <!------------------------弹出信息的弹出层---------------------------------->
    <div id="DivEditor" class="easyui-dialog" style="width: 700px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div id="Div_form" class="easyui-panel" style="padding: 10px 10px; overflow-x: hidden;" data-options=" height:440,width:680,border:false">
            <form id="ff" method="post" enctype="multipart/form-data">

                <table class="stripes" style="table-layout: fixed; width: 100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <input type="hidden" id="ID" name="ID" />
                        <input type="hidden" id="CategoryTableID" name="CategoryTableID" />
                        <td style="width: 100px;">
                            <label>表格名称：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" id="title" name="title" data-options="required:true,validType:'length[1,32]'" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>表格英文名称：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" id="field" name="field" data-options="required:true,validType:'length[1,32]'" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>行合并数：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" onkeyup="clearNoNumberContainDot(this);" name="rowspan" data-options="required:true" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>列合并数：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" onkeyup="clearNoNumberContainDot(this);" name="colspan" data-options="required:true" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>宽度：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" onkeyup="clearNoNumberContainDot(this);" name="width" data-options="required:true" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label>编辑类型：</label></td>
                        <td>
                            <select id="cc" class="easyui-combobox" data-options="required:true" name="editor" style="width: 200px;" vlaue="0">
                                <option value="">不编辑</option>
                                <option value="type: 'text', options: { }">可输入的文本框</option>

                                <option value="type: 'combobox', options:{
								valueField:'CharName',
								textField:'CharName',
								method:'get',
								url:'/DynamicTable/GetBascharvalueS?ID=Dic',
								required:true
							}">下拉选择控件</option>

                            </select>
                        </td>

                    </tr>


                    <tr>
                        <td>
                            <label>对齐方向：</label></td>
                        <td>

                            <select id="align" class="easyui-combobox" data-options="required:true" name="align" style="width: 200px;" vlaue="0">
                                <option value="left">靠左</option>
                                <option value="right">靠右</option>
                                <option value="center">居中</option>

                            </select>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>父列（合并列头使用）：</label></td>
                        <td>

                            <input class="easyui-combobox"
                                name="ParentId" id="ParentId">
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>数据默认值：</label></td>
                        <td>
                            <input name="ISLogpeople" type="radio" value="true" />取登陆人姓名
                        <input name="ISLogpeople" type="radio" value="false" />不取登陆人姓名
                        <input name="ISLoginsector" type="radio" value="true" />取登陆部门
                        <input name="ISLoginsector" type="radio" value="false" />不取取登陆部门

                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>排序号：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" onkeyup="clearNoNumberContainDot(this);" name="SortNo" data-options="required:true" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label>是否启用：</label></td>
                        <td>

                            <input name="IsEnable" type="radio" value="true" checked="checked" />是
                        <input name="IsEnable" type="radio" value="false" />否
                        @*  <input type="checkbox" name="IsEnable" id="IsEnable" value="True"/>是否启用*@



                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>编号（主：编号计算列只能有一个）：</label></td>
                        <td>

                            <input name="IsNumber" type="radio" value="true" />是
                        <input name="IsNumber" type="radio" value="false" checked="checked" />否
                        @*  <input type="checkbox" name="IsEnable" id="IsEnable" value="True"/>是否启用*@



                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>作为合并列的头部：</label></td>
                        <td>


                            <input name="MergeHeader" type="radio" value="true" />是
                        <input name="MergeHeader" type="radio" value="false" checked="checked" />否

                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>只允许管理员编辑：</label></td>
                        <td>


                            <input name="ManagingStatus" type="radio" value="true" />是
                        <input name="ManagingStatus" type="radio" value="false" checked="checked" />否

                        </td>

                    </tr>
                    @*  <tr>
                        <td>
                            <label>选择列（表格选择选择框，只需要输入行合并数）：</label></td>
                        <td>


                            <input name="ck" type="radio" value="true"  onchange="myfunction()"/>是
                                <input name="ck" type="radio" value="false" checked="checked"  onchange="myfunction2()"/>否

                        </td>

                    </tr>*@
                </table>
            </form>


        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivEditor').dialog('close')">关闭</a>
        </div>
    </div>
<div id="DivSetRole" class="easyui-window" style="width: 510px; height: 440px;"
     closed="true" resizable="true" modal="true" buttons="#dlg-buttons">

   选这关联表格 ：<input class="easyui-combobox" id="language" name="language"
           data-options="valueField:'ID',textField:'ChineseName'">
    <div>
    <div style="display: block; width: 210px; float: left; height: 340px;">
        <table id="tbOut"></table>@*//未选择的*@

    </div>
    <div style="display: block; width: 30px; float: left; height: 340px;">

        <div id="divSelect" style="height: 100px; height: 30px; padding-top: 130px; padding-left: 5px;">


            <span class=" icon icon-arrow_right" style="display: block; cursor: pointer" onclick="addbtn();">&nbsp;</span>
            <br/>
            <span class=" icon icon-arrow_left" style="display: block; cursor: pointer" onclick="Delbtn2();">&nbsp;</span>
        </div>


    </div>
    <div style="display: block; width: 210px; float: left; height: 340px;">

        <table id="tbIn"></table>@*已选择的*@
    </div>
  

</div>


</div>

</body>
</html>
